# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
pip-wheel-metadata/

# Venv
.venv/
venv/
env/

# Tools & caches
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.coverage
.pytype/
.cache/

# Editors/OS
.DS_Store
Thumbs.db

# Local settings (обычно не коммитят)
.vscode/
.env
.env.*

*.pth
*.pt
log_resnet_dog_20250807_193211.csv
fmaps_tiles/Abyssinian_123__alexnet_64ch.png
fmaps_tiles/Abyssinian_123__resnet_64ch.png
fmaps_tiles/Bengal_99__alexnet_64ch.png
fmaps_tiles/Bengal_99__resnet_64ch.png
fmaps_tiles/Bengal_127__alexnet_64ch.png
fmaps_tiles/Bengal_127__resnet_64ch.png
fmaps_tiles/Birman_11__alexnet_64ch.png
fmaps_tiles/Birman_11__resnet_64ch.png
fmaps_tiles/Bombay_20__alexnet_64ch.png
fmaps_tiles/Bombay_20__resnet_64ch.png
fmaps_tiles/British_Shorthair_68__alexnet_64ch.png
fmaps_tiles/British_Shorthair_68__resnet_64ch.png
fmaps_tiles/choice_after_st_resnet_cat_block4.bn2.png
fmaps_tiles/choice_after_stages10_resnet_cat_layer4_1_bn2.png
fmaps_tiles/choice_resnet_cat_block4.bn2.variant1.png
fmaps_tiles/choice_resnet_cat_block4.bn2.variant2.png
fmaps_tiles/choice_resnet_cat_block4.bn2.ver1.png
fmaps_tiles/choice_resnet_cat_block4.bn2.ver2.png
fmaps_tiles/choice_resnet_cat_layer4_1_bn2.png
fmaps_tiles/Egyptian_Mau_108__alexnet_64ch.png
fmaps_tiles/Egyptian_Mau_108__resnet_64ch.png
fmaps_tiles/Egyptian_Mau_163__alexnet_64ch.png
fmaps_tiles/Egyptian_Mau_163__resnet_64ch.png
fmaps_tiles/Maine_Coon_24__alexnet_64ch.png
fmaps_tiles/Maine_Coon_24__resnet_64ch.png
fmaps_tiles/Persian_104__alexnet_64ch.png
fmaps_tiles/Persian_104__resnet_64ch.png
fmaps_tiles/Ragdoll_40__alexnet_64ch.png
fmaps_tiles/Ragdoll_40__resnet_64ch.png
fmaps_tiles/Ragdoll_93__alexnet_64ch.png
fmaps_tiles/Ragdoll_93__resnet_64ch.png
fmaps_tiles/Russian_Blue_170__alexnet_64ch.png
fmaps_tiles/Russian_Blue_170__resnet_64ch.png
fmaps_tiles/Siamese_198__alexnet_64ch.png
fmaps_tiles/Siamese_198__resnet_64ch.png
fmaps_tiles/Sphynx_9__alexnet_64ch.png
fmaps_tiles/Sphynx_9__resnet_64ch.png
fmaps_tiles/Sphynx_107__alexnet_64ch.png
fmaps_tiles/Sphynx_107__resnet_64ch.png
int_feature/Abyssinian_123__alexnet__integral_overlay.png
int_feature/Abyssinian_123__alexnet__integral.png
int_feature/Abyssinian_123__resnet__integral_overlay.png
int_feature/Abyssinian_123__resnet__integral.png
int_feature/Bengal_99__alexnet__integral_overlay.png
int_feature/Bengal_99__alexnet__integral.png
int_feature/Bengal_99__resnet__integral_overlay.png
int_feature/Bengal_99__resnet__integral.png
int_feature/Bengal_127__alexnet__integral_overlay.png
int_feature/Bengal_127__alexnet__integral.png
int_feature/Bengal_127__resnet__integral_overlay.png
int_feature/Bengal_127__resnet__integral.png
int_feature/Birman_11__alexnet__integral_overlay.png
int_feature/Birman_11__alexnet__integral.png
int_feature/Birman_11__resnet__integral_overlay.png
int_feature/Birman_11__resnet__integral.png
int_feature/Bombay_20__alexnet__integral_overlay.png
int_feature/Bombay_20__alexnet__integral.png
int_feature/Bombay_20__resnet__integral_overlay.png
int_feature/Bombay_20__resnet__integral.png
int_feature/British_Shorthair_68__alexnet__integral_overlay.png
int_feature/British_Shorthair_68__alexnet__integral.png
int_feature/British_Shorthair_68__resnet__integral_overlay.png
int_feature/British_Shorthair_68__resnet__integral.png
int_feature/Egyptian_Mau_108__alexnet__integral_overlay.png
int_feature/Egyptian_Mau_108__alexnet__integral.png
int_feature/Egyptian_Mau_108__resnet__integral_overlay.png
int_feature/Egyptian_Mau_108__resnet__integral.png
int_feature/Egyptian_Mau_163__alexnet__integral_overlay.png
int_feature/Egyptian_Mau_163__alexnet__integral.png
int_feature/Egyptian_Mau_163__resnet__integral_overlay.png
int_feature/Egyptian_Mau_163__resnet__integral.png
int_feature/Maine_Coon_24__alexnet__integral_overlay.png
int_feature/Maine_Coon_24__alexnet__integral.png
int_feature/Maine_Coon_24__resnet__integral_overlay.png
int_feature/Maine_Coon_24__resnet__integral.png
int_feature/Persian_104__alexnet__integral_overlay.png
int_feature/Persian_104__alexnet__integral.png
int_feature/Persian_104__resnet__integral_overlay.png
int_feature/Persian_104__resnet__integral.png
int_feature/Ragdoll_40__alexnet__integral_overlay.png
int_feature/Ragdoll_40__alexnet__integral.png
int_feature/Ragdoll_40__resnet__integral_overlay.png
int_feature/Ragdoll_40__resnet__integral.png
int_feature/Ragdoll_93__alexnet__integral_overlay.png
int_feature/Ragdoll_93__alexnet__integral.png
int_feature/Ragdoll_93__resnet__integral_overlay.png
int_feature/Ragdoll_93__resnet__integral.png
int_feature/Russian_Blue_170__alexnet__integral_overlay.png
int_feature/Russian_Blue_170__alexnet__integral.png
int_feature/Russian_Blue_170__resnet__integral_overlay.png
int_feature/Russian_Blue_170__resnet__integral.png
int_feature/Siamese_198__alexnet__integral_overlay.png
int_feature/Siamese_198__alexnet__integral.png
int_feature/Siamese_198__resnet__integral_overlay.png
int_feature/Siamese_198__resnet__integral.png
int_feature/Sphynx_9__alexnet__integral_overlay.png
int_feature/Sphynx_9__alexnet__integral.png
int_feature/Sphynx_9__resnet__integral_overlay.png
int_feature/Sphynx_9__resnet__integral.png
int_feature/Sphynx_107__alexnet__integral_overlay.png
int_feature/Sphynx_107__alexnet__integral.png
int_feature/Sphynx_107__resnet__integral_overlay.png
int_feature/Sphynx_107__resnet__integral.png
